aiohttp==3.9.1
beautifulsoup4==4.12.2
google-api-python-client==2.110.0
nextcord==2.6.0
Pillow==10.1.0
pycountry==23.12.11
pylast==5.2.0
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
spotipy==2.23.0
wolframalpha==5.0.0